<modal-opener class="hidden popupmodal--thankyou__opener-{{ section.id }}" data-modal="#PopupModal-ty-{{ section.id }}">
    <button id="TYPopup-{{ section.id }}" type="button" aria-haspopup="dialog"></button>
</modal-opener>
<modal-dialog id="PopupModal-ty-{{ section.id }}" class="popupmodal--thankyou">
    <div role="dialog" aria-modal="true" class="popupmodal--thankyou__content" tabindex="-1" style="{% unless settings.ty_bg_image == blank %}background-image: url('{{ settings.ty_bg_image | image_url }}');{% endunless %}
                    {% unless settings.ty_bg_color == blank %}background-color: {{ settings.ty_bg_color }};{% endunless %}
                    background-blend-mode: {{ settings.ty_bg_blend }};">
        <button id="ModalClose-{{ section.id }}" type="button" class="popupmodal--thankyou__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="popupmodal--thankyou__content-info">
            <div class="popupmodal--thankyou__copy">
                
                <div class="popupmodal--thankyou__text center">
                    <h2 class="h1">{{ settings.ty_title }}</h2>

                    <div>
                        {{ settings.ty_richtext }}
                    </div>

                    <p id="popupmodal--thankyou__discount-code-{{ section.id }}" class="popupmodal--thankyou__discount-code h2">{{ settings.ty_discount_code }}</p>
                </div>

                <div class="popupmodal--thankyou__button">

                    <div role="button" class="btn btn--default btn-he--bs btn--round-corner btn--copy" data-button='#btn-ty-popup-{{section.id}}' data-targettext="popupmodal--thankyou__discount-code-{{ section.id }}" data-tooltip="✔">
                        <span>copy</span>
                    </div>

                    {%-liquid
                    assign btn_label = settings.ty_btn_label
                    assign btn_link = settings.ty_btn_link
                    assign btn_size = "default"
                    assign hover_effect = "lighten"
                    assign icon_type = "none"
                    assign round_corner = true
                    assign shadow_effect = true
                    assign auto_width = false
                  -%}

                    {% case btn_size %}
                        {% when "default" %}
                            {%- assign btn_size_class = "btn--default" -%}
                        {% when "medium" %}
                            {%- assign btn_size_class = "btn--medium" -%}
                        {% when "large" %}
                            {%- assign btn_size_class = "btn--large" -%}
                    {% endcase %}
                    
                    {% case hover_effect %}
                        {% when "lighten" %}
                            {%- assign btn_he_class = "btn-he--lighten" -%}
                        {% when "color-switch" %}
                            {%- assign btn_he_class = "btn-he--color-switch" -%}
                        {% when "slide" %}
                            {%- assign btn_he_class = "btn-he--slide" -%}
                        {% when "shine" %}
                            {%- assign btn_he_class = "btn-he--shine" -%}
                    {% endcase %}
                    
                    {%- liquid
                        if btn_link contains 'collections'
                            assign link_title = btn_link | split: '/' | last | append: ' collections' | strip
                        else
                            assign link_title = btn_link | split: '/' | last | strip
                        endif
                    -%}
                    <a id="btn-ty-popup-{{section.id}}" class="btn hidden {{ btn_size_class }} {% if round_corner %}btn--round-corner{% endif %} {% if btn_link != blank %}{{ btn_he_class }}{% else %}btn--disbaled{% endif %} {% if shadow_effect %}btn-bs{% endif %} {% if auto_width %}btn-auto-width{% endif %}"
                        {% if btn_link != blank %}
                            href="{{ btn_link }}"
                            title="{{ link_title }}"
                        {% endif %}
                        role="button">
                        {{ btn_label | escape }}
                        {% render 'icon-button', icon_type: icon_type %}
                        {% if hover_effect == 'shine' %}
                        <span></span>
                        {% endif %}
                    </a>

                </div>
            </div>
        </div>
    </div>
</modal-dialog>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector(`#${localStorage.getItem('activated-ty-modalpopup')}`).click();
    })
</script> 