{% comment %} {{ 'section-hero-7923216.css' | asset_url | stylesheet_tag }} {% endcomment %}
{% assign use_as_default_padding = section.settings.use_as_default_padding %}
{%- style -%}
    {%- if use_as_default_padding -%}
        .hero--{{ section.id }} .section__container{
            padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px !important;
            padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px !important;
        }

        @media screen and (min-width: 750px) {
           .hero--{{ section.id }} .section__container{
                padding-top: {{ section.settings.padding_top }}px !important;
                padding-bottom: {{ section.settings.padding_bottom }}px !important;
            }
        }
    {%- endif -%}
{%- endstyle -%}


<div class="hero hero--{{ section.id }} section-with-bg">
  {%- if section.settings.bg_image -%}
    {% capture image_sizes %}
      (min-width: 1800px) 1800px, ((min-width: 990px) and (max-width: 1799px)) 100vw, ((min-width: 750px) and (max-width: 989px)) 100vw, (max-width: 749px) 100vw
    {% endcapture %}
    <div class="section__bg">
      <img
        class="small-hide"
        srcset="{%- if section.settings.bg_image.width >= 375 -%}{{ section.settings.bg_image | image_url: width: 375 }} 375w,{%- endif -%}
          {%- if section.settings.bg_image.width >= 550 -%}{{ section.settings.bg_image | image_url: width: 550 }} 550w,{%- endif -%}
          {%- if section.settings.bg_image.width >= 750 -%}{{ section.settings.bg_image | image_url: width: 750 }} 750w,{%- endif -%}
          {%- if section.settings.bg_image.width >= 990 -%}{{ section.settings.bg_image | image_url: width: 990 }} 990w,{%- endif -%}
          {%- if section.settings.bg_image.width >= 1100 -%}{{ section.settings.bg_image | image_url: width: 1100 }} 1100w,{%- endif -%}
          {%- if section.settings.bg_image.width >= 1500 -%}{{ section.settings.bg_image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {%- if section.settings.bg_image.width >= 1780 -%}{{ section.settings.bg_image | image_url: width: 1780 }} 1780w,{%- endif -%}
          {%- if section.settings.bg_image.width >= 1800 -%}{{ section.settings.bg_image | image_url: width: 1800 }} 1800w,{%- endif -%}
          {%- if section.settings.bg_image.width >= 2000 -%}{{ section.settings.bg_image | image_url: width: 2000 }} 2000w,{%- endif -%}
          {{ section.settings.bg_image | image_url }} {{ section.settings.bg_image.width }}w"
        src="{{ section.settings.bg_image | image_url: width: 1800 }}"
        sizes="{{ image_sizes | strip }}"
        alt="{{ section.settings.bg_image.alt | escape }}"
        title="{{ section.settings.bg_image.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.bg_image.width }}"
        height="{{ section.settings.bg_image.height }}"
        draggable="false"
      >
    </div>
  {%- endif -%}
    <div class="section__container">
        <div class="page-width">
            <div class="grid grid--1-col grid--2-col-desktop grid--2-col-tablet">
                <div class="grid__item">
                    <div class="hero__copy">
                        <h2 class="title uppercase">{{ section.settings.title | escape }}</h2>
                        <div class="subtitle">{{ section.settings.subtitle }}</div>

                        {%- render 'button',
                            btn_label: section.settings.btn_label,
                            btn_link: section.settings.btn_link,
                            btn_size: "default",
                            hover_effect: "lighten",
                            icon_type: "none",
                            round_corner: section.settings.round_corner,
                            shadow_effect: section.settings.shadow_effect,
                            auto_width: section.settings.auto_width
                        -%}
                    
                    </div>
                </div>
                <div class="grid__item">
                    <div class="hero__image medium-hide large-up-hide">
                    {% capture image_sizes_second %}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {% endcapture %}
                    {%- if section.settings.image != blank -%}
                        <img
                            srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if section.settings.image.width >= 535 -%}{{ section.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                            {%- if section.settings.image.width >= 600 -%}{{ section.settings.image | image_url: width: 600 }} 600w,{%- endif -%}
                            {%- if section.settings.image.width >= 800 -%}{{ section.settings.image | image_url: width: 800 }} 800w,{%- endif -%}
                            {%- if section.settings.image.width >= 1070 -%}{{ section.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                            {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
                            src="{{ section.settings.image | image_url: width: 600 }}"
                            sizes="{{ image_sizes_second | strip }}"
                            alt="{{ section.settings.image.alt | escape }}"
                            title="{{ section.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ section.settings.image.width }}"
                            height="{{ section.settings.image.height }}"
                        >
                    {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "🍊 Hero",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Mus euismod fermentum nisl justo inceptos"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "<p>Nullam viverra cras magnis dapibus iaculis quis aliquet auctor imperdiet lectus felis venenatis</p>"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "BG Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Link",
      "default": "/collections/all"
    },
    {
      "type": "checkbox",
      "id": "round_corner",
      "label": "Rounded Corner",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "shadow_effect",
      "label": "Enable Shadow Effect",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "auto_width",
      "label": "Enable Auto Width",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "checkbox",
      "id": "use_as_default_padding",
      "label": "Set as default",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36,
      "info": "Default Value is 36"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36,
      "info": "Default Value is 36"
    }
  ],
  "presets": [
    {
      "name": "🍊 Hero",
      "category": "a"
    }
  ]
}
{% endschema %}
