<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<sticky-header>
  {% comment %} For Displaying Lines {% endcomment %}
  <div class="btn btn--default btn--xs btn--round-corner btn-lines" style="margin: 1rem auto">Line</div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const lineButton = document.querySelector('.btn-lines');
      const bodyTag = document.querySelector('body');
      if(!lineButton) return;
      lineButton.addEventListener('click', () => {
          bodyTag.classList.toggle('lined');
      })
    })
  </script>
  <header class="header header--logo-middle-left page-width">

    {% comment %} Logo {% endcomment %}
    <h1 class="header__heading">
      <a href="{{ routes.root_url }}" title="{{ shop.name | escape }}" class="header__heading-link">
        {%- if section.settings.logo != blank -%}
          {%- assign image_size = section.settings.logo_width -%}
          {%- assign image_size_scale_by_two = section.settings.logo_width | times: 2 -%}
          <img srcset="{{ section.settings.logo | image_url: width: image_size }} 1x, {{ section.settings.logo | image_url: width: image_size_scale_by_two }} 2x"
            src="{{ section.settings.logo | image_url: width: image_size }}"
            class="header__heading-logo"
            width="{{ section.settings.logo.width }}"
            height="{{ section.settings.logo.height }}"
            alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
          >
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
    </h1>

    {% comment %} Navigation {% endcomment %}
    {%- if section.settings.menu != blank -%}
      <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.menu.links -%}
            <li>
              {%- if link.links != blank -%}
                <details-disclosure>
                  <details>
                    <summary class="header__menu-item list-menu__item">
                      <span {%- if link.child_active %} class="h1 header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                      {% render 'icon-caret' %}
                    </summary>
                    <ul class="header__submenu list-menu list-menu--disclosure" role="list" tabindex="-1">
                      {%- for childlink in link.links -%}
                        <li>
                          {%- if childlink.links == blank -%}
                            <a href="{{ childlink.url }}" class="header__menu-item list-menu__item {% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                              {{ childlink.title | escape }}
                            </a>
                          {%- else -%}
                            <details>
                              <summary class="header__menu-item list-menu__item">
                                <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ childlink.title | escape }}</span>
                                {% render 'icon-caret' %}
                              </summary>
                              <ul class="header__submenu list-menu">
                                {%- for grandchildlink in childlink.links -%}
                                  <li>
                                    <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item {% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                      {{ grandchildlink.title | escape }}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </details>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </details>
                </details-disclosure>
              {%- else -%}
                <a href="{{ link.url }}" class="header__menu-item list-menu__item"{% if link.current %} aria-current="page"{% endif %}>
                  <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}

    {% comment %} Icons {% endcomment %}
    <div class="header__icons">

      <div class="header__icon header__icon--search link focus-inset" role="button">
        {%- render 'heroicons', icon: 'search' -%}
      </div>

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset">
          {%- render 'heroicons', icon: 'user_outline' -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="/pages/wishlist" class="header__icon header__icon--wishlist link focus-inset">
        {%- render 'heroicons', icon: 'heart_outline' -%}
        <div class="wishlist-count-bubble hidden">
          <span></span>
        </div>
      </a>

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- render 'heroicons', icon: 'shopping_cart_outline' -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- else -%}
              <span aria-hidden="true">+99</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
  {%- render 'cart-notification' -%}
</sticky-header> 

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "label": "Width"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
