{{ 'section-multiple-image-with-text-7923216.css' | asset_url | stylesheet_tag }}

{% assign use_as_default_padding = section.settings.use_as_default_padding %}
{%- style -%}
  {%- if use_as_default_padding -%}
    .multiple-image-with-text--{{ section.id }} .section__container {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px !important;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px !important;
    }

    @media screen and (min-width: 750px) {
      .multiple-image-with-text--{{ section.id }} .section__container {
        padding-top: {{ section.settings.padding_top }}px !important;
        padding-bottom: {{ section.settings.padding_bottom }}px !important;
      }
    }
  {%- endif -%}
{%- endstyle -%}

{%- assign image_with_text_blocks = section.blocks | where: 'type', 'image_with_text' -%}

<div class="multiple-image-with-text multiple-image-with-text--{{ section.id }} color-background-1 section-with-bg">
  <div class="section__container">
    <div class="page-width">
      <div class="grid grid--1-col grid--2-col-desktop {% if section.settings.image_first %}image-first{% endif %}">
        <div class="grid__item">
          <div class="section__information">
            {%- for block in image_with_text_blocks -%}
              <div class="tabcontent tabcontent-{{ section.id }} tabcontent-{{ section.id }}-{{ forloop.index }}">
                <div class="information--wrapper">
                  <h2 class="h1 uppercase">{{ block.settings.title | escape }}</h2>
                  <div class="h3 information--p">
                   {{ block.settings.richtext }}
                  </div>
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>

        <div class="grid__item grid__item--image">
          <div class="section__image">
            {% capture image_sizes %}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(100vw - 80px), (max-width: 749px) calc(100vw - 30px)
            {% endcapture %}
           
            {%- if section.settings.image_bg != blank -%}
            <img
              srcset="{%- if section.settings.image_bg.width >= 165 -%}{{ section.settings.image_bg | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if section.settings.image_bg.width >= 360 -%}{{ section.settings.image_bg | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if section.settings.image_bg.width >= 535 -%}{{ section.settings.image_bg | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if section.settings.image_bg.width >= 750 -%}{{ section.settings.image_bg | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if section.settings.image_bg.width >= 1070 -%}{{ section.settings.image_bg | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if section.settings.image_bg.width >= 1500 -%}{{ section.settings.image_bg | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ section.settings.image_bg | image_url }} {{ section.settings.image_bg.width }}w"
              src="{{ section.settings.image_bg | image_url }}"
              sizes="{{ image_sizes | strip }}"
              alt="{{ image_alt | strip_html | escape }}"
              title="{{ image_alt | strip_html | escape }}"
              loading="lazy"
              width="{{ section.settings.image_bg.width }}"
              height="{{ section.settings.image_bg.height }}"
              draggable="false"
            >
            {%- endif -%}
            {%- for block in image_with_text_blocks -%}
              <div class="tabcontent tabcontent-{{ section.id }} tabcontent-{{ section.id }}-{{ forloop.index }}">
                <div class="image--wrapper">
                {%- if block.settings.image != blank -%}
                  {%- liquid
                    if block.settings.image.alt == blank
                      assign image_alt = block.settings.title
                    else
                      assign image_alt = block.settings.image.alt
                    endif
                -%}
                  <img
                    srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                    {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}
                    {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                    src="{{ block.settings.image | image_url }}"
                    sizes="{{ image_sizes | strip }}"
                    alt="{{ image_alt | strip_html | escape }}"
                    title="{{ image_alt | strip_html | escape }}"
                    loading="lazy"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}"
                    draggable="false"
                  >
                {%- else -%}
                  {%- render 'no-image' -%}
                {%- endif -%}
                </div>
              </div>
            {%- endfor -%}
            <div class="section__tab-controls">
              <div class="tab-control tab-control--prev tab-control--prev-{{ section.id }}"
                data-maxblock="{{ image_with_text_blocks | size }}"
                data-tabcontentclass='tabcontent-{{ section.id }}'
                data-tabnext ='tab-control--next-{{ section.id }}'
                role="button">
                <span>&lsaquo;</span>
              </div>
              <div class="tab-control tab-control--next tab-control--next-{{ section.id }}"
                data-maxblock="{{ image_with_text_blocks | size }}"
                data-tabcontentclass='tabcontent-{{ section.id }}'
                data-tabprev='tab-control--prev-{{ section.id }}'
                role="button">
                <span>&rsaquo;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "🍊 MIwT",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "image_first",
      "label": "Image First",
      "default": true,
      "info": "Desktop Only"
    },
    {
      "type": "image_picker",
      "id": "image_bg",
      "label": "Images BG"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "checkbox",
      "id": "use_as_default_padding",
      "label": "Set as default",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36,
      "info": "Default Value is 36"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36,
      "info": "Default Value is 36"
    }
  ],
  "blocks": [
    {
      "type": "image_with_text",
      "name": "Image",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Tempor tempus auctor"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Richtext",
          "default": "<p>Mi blandit molestie sapien dictumst eu ullamcorper suspendisse. Fames porta justo dui pulvinar ligula tortor feugiat.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "🍊 MIwT",
      "category": "a",
      "blocks": [
        {
          "type": "image_with_text"
        },
        {
          "type": "image_with_text"
        },
        {
          "type": "image_with_text"
        }
      ]
    }
  ]
}
{% endschema %}
